* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  background: #081620;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid {
  background: #fff;
  color: #333;
  line-height: 30px;
  padding: 1em;
  border-radius: 5px;
  display: grid;
  width: 300px;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  max-height: 500px;
  overflow: auto;
}
.summary {
  background: #fff;
  color: #333;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em;
  width: 300px;
  text-align: center;
}
.grid * {
  border-bottom: 1px solid #eee;
}
.grid .title {
  border-bottom-color: #aaa;
  font-weight: bold;
}
